#div {
	font-size: 70pt;
	font-weight: 100;
}

* {
	font-family: "Microsoft Yahei", sans-serif;
	background-color: #f2f2f2;
	transition: 100ms;
	user-select: none;
}

.dke, .dke *, .dke input[type="text"] {
	background-color: #1f1f1f;
	color: white!important;
}

.dke .sma button, .dke .box .cte button, .dke .opt button, .dke .dlg button, .dke #miaobiao #btb, .dke #miaobiao #btc, .dke .fdo button {
	background-color: #4c4c4c;
}

.dke button:enabled:not(.blb):hover, .dke #fcb:hover, .dke p[id]:hover, .dke #miaobiao #btb:enabled:hover, .dke #miaobiao #btc:enabled:hover {
	background-color: #353535!important;
}

.dke #ttr th {
	border-bottom: solid 2px #4c4c4c;
}

.dke .box, .dke .box .cte, .dke .box .cte span, .dke .box .lte, .dke .box .lte span, .dke .dlg, .dke .dlg h2, .dke .dlg div, .dke .dlg div span, .dke .sma,
.dke .dlg label, .dke .ilk, .dke .box *, .dke .box * *, .dke .fdo, .dke .fdo * {
	background-color: #282828;
}

.dke .box {
	box-shadow: 0px 0px 9px black;
}

table {
	margin: 0 auto;
}

#d {
	font-size: 70%;
}

#ttr th {
	border-bottom: solid 2px lightgray;
}

td, th, p {
	padding: 9px;
	text-align: left;
}

html, body {
	width: 100%;
	margin: 0;
}

#fcb {
	width: 40px;
	height: 40px;
	margin-left: calc(100% - 40px);
	border-radius: 3px;
	margin-right: 0;
	background-color: transparent;
}

button {
	border: none;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 9px;
}

.fan {
	border-radius: 3px;
	width: auto;
	height: auto;
	padding: 9px;
}

.blb {
	background-color: #065378 !important;
	color: white;
}

.blb:hover {
	background-color: #076491 !important;
}

#tgl {
	position: fixed;
	top: 0;
	left: 3px;
}

.sld {
	border-left: solid 3px #065378;
}

#shezhi, #jishiqi, #naozhong, #shijieshizhong {
	position: absolute;
	left: 15%;
}

#miaobiao {
	position: absolute;
	left: 57.5%;
	transform: translateX(-50%) translateY(-50%);
	top: 34%;
	width: 80%;
}

input[type="radio"] {
	width: 18px;
	height: 18px;
}

input[type="radio"]:checked {
	appearance: none;
	border: solid 6px #065378;
	border-radius: 50%;
}

input[type="text"] {
	padding: 3px;
	border: solid 2px gray;
	outline: none;
}

h1, h2, #ttr th {
	font-weight: normal;
}

.dlg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 3px;
	border: solid 2px gray;
	margin: auto;
	width: 350px;
	height: 350px;
	padding: 3px;
}

.dlg h2, .dlg div, .dlg span, .dlg label, .ilk, .dlg .fan, .box {
	margin: 3px;
}

.dlg .fan {
	width: 166px;
}

.dlg input[type="text"] {
	width: 338px;
}

.opt {
	position: fixed;
	right: 3px;
	bottom: 3px;
	background-color: transparent;
	z-index: 99;
}

.box {
	padding: 9px;
	border-radius: 3px;
	box-shadow: 0px 0px 9px lightgray;
}

.box, .box *, .box * *, input[type="radio"]:checked, .dlg h2, .dlg div, .dlg span, .dlg label, .ilk, .dlg, .box .lte span, .box .cte span, input[type="text"] {
	background-color: white;
}

.box .cte button, .sma button, button {
	background-color: #c2c2c2;
}

.box .cte button:enabled:hover, #fcb:hover, button:enabled:hover, p[id]:hover {
	background-color: #dadada;
}

.box .lte span, .box .cte span {
	font-family: "Microsoft Yahei", sans-serif;
}

#shijieshizhong .box {
	border-radius: 0;
	box-shadow: none;
}

.cte, .etm, table, #miaobiao {
	text-align: center;
}

.etm, .box .lte span, .box .cte span {
	font-size: 30pt;
}

.sma button {
	width: 30px;
	height: 30px;
	border: solid 3px gray;
}

.tmd {
	font-size: 45pt!important;
	font-weight: 100;
}

.hel {
	font-size: 18pt!important;
}

.vrg {
	width: calc(100% - 24px);
}

.vrg .fan:not(.nrt), #search, .lte button[onclick], .dlg, #shezhi, #jishiqi, #naozhong, #shijieshizhong, table, #hde {
	display: none;
}

#shijieshizhong, #hde, #shezhi, #jishiqi, #naozhong {
	width: 85%;
}

.fsj {
	font-size: calc(200% + 6px);
	width: 50%;
	font-weight: 100;
}

select {
	width: 200px;
	padding: 6px;
	border-radius: 0;
	border: solid 1px gray;
}

#epl {
	width: 500px;
	border: solid 3px #065378;
}

.cbx, .ltb, .vrg .fan:not(.nrt) {
	float: right;
}

#blx {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 500px;
}

#blx div {
	width: 500px;
	padding: 3px;
}

#blx div:hover {
	background-color: gray;
}

#hde {
	position: fixed;
	height: 100%;
	left: 15%;
	top: 0;
}

#hde div div, #hde div table, .ilk, .fsj, .box {
	display: inline-block;
}

#hde div div {
	width: 30%;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: solid 3px gray;
}

#tbl {
	position: absolute;
	height: 35%;
	overflow-y: auto;
	width: 60%;
	right: 20%;
}

#vgo td, .duy td {
	width: 30px;
}

#hde table, #hde .box div {
	vertical-align: middle;
}

.nrt {
	opacity: 0.3;
}

.nrt:hover {
	opacity: 1;
}

.lte span:nth-of-type(2) {
	font-size: 14pt;
}

.fdo {
	position: fixed;
	bottom: 9px;
	right: 9px;
	width: 400px;
	padding: 9px;
	z-index: 100;
	background-color: rgba(194, 194, 194, 0.7);
}

.fdo * {
	background-color: transparent;
}

.wib {
	background-color: white;
	height: 70px;
	width: 150px;
	border-radius: 0;
}