#div {
	font-size: 70pt;
	font-weight: 100;
}

* {
	font-family: "Microsoft Yahei", sans-serif;
	background-color: #f2f2f2;
	transition: 100ms;
	user-select: none;
}

.dke,.dke * {
	background-color: #1f1f1f;
	color: white !important;
}

.dke button {
	background-color: #4c4c4c;
}

.dke button:enabled:hover, .dke #fcb:hover, .dke p[id]:hover {
	background-color: #353535;
}

.dke #ttr th {
	border-bottom: solid 2px #4c4c4c;
}

.dke .box, .dke .box .cte, .dke .box .cte span, .dke .box .lte, .dke .box .lte span, .dke .dlg, .dke .dlg h2, .dke .dlg div, .dke .dlg div span, .dke .sma,
.dke .dlg label, .dke .box b, .dke .box #lct, .dke .box #wdt {
	background-color: #282828;
}

.dke .box {
	box-shadow: 0px 0px 9px black;
}

table {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	display: none;
}

#d {
	font-size: 70%;
}

#ttr th {
	font-weight: normal;
	border-bottom: solid 2px lightgray;
}

td, th {
	padding: 9px;
	text-align: left;
}

html, body {
	width: 100%;
	margin: 0;
}

#fcb {
	width: 40px;
	height: 40px;
	margin-left: calc(100% - 40px);
	border-radius: 3px;
	margin-right: 0;
	background-color: transparent;
}

#fcb:hover {
	background-color: #dadada;
}

button {
	border: none;
	background-color: #c2c2c2;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 9px;
}

button:enabled:hover {
	background-color: #dadada;
}

.fan {
	border-radius: 3px;
	width: auto;
	height: auto;
	padding: 9px;
}

.blb {
	background-color: #065378 !important;
	color: white;
}

.blb:hover {
	background-color: #076491 !important;
}

p {
	text-align: left;
	padding: 9px;
	cursor: default;
}

p[id]:hover {
	background-color: #dadada;
}

#tgl {
	position: fixed;
	top: 0;
	left: 3px;
}

.sld {
	border-left: solid 3px #065378;
}

#shezhi, #jishiqi, #naozhong, #shijieshizhong {
	display: none;
	position: absolute;
	left: 20%;
}

input[type="radio"] {
	width: 18px;
	height: 18px;
}

input[type="radio"]:checked {
	appearance: none;
	border: solid 6px #065378;
	border-radius: 50%;
	background-color: white;
}

input[type="text"] {
	padding: 3px;
	border: solid 2px gray;
	outline: none;
}

#miaobiao {
	text-align: center;
}

h1, h2 {
	font-weight: normal;
}

.dlg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 3px;
	border: solid 2px gray;
	margin: auto;
	width: 350px;
	height: 350px;
	padding: 3px;
	background-color: white;
}

.dlg h2, .dlg div, .dlg span, .dlg label {
	background-color: white;
	margin: 3px;
}

.dlg .fan {
	width: 166px;
	margin: 3px;
}

.dlg input[type="text"] {
	width: 338px;
}

.opt {
	position: fixed;
	right: 3px;
	bottom: 3px;
	background-color: transparent;
}

.box {
	display: inline-block;
	padding: 9px;
	margin: 3px;
	border-radius: 3px;
	box-shadow:0px 0px 9px lightgray;
}

.box, .box .lte, .cte, .sma, .box b, .box #lct, .box #wdt {
	background-color: white;
}

.box .lte span,.box .cte span {
	background-color: white;
	font-size: 30pt;
	font-family: "Microsoft Yahei", sans-serif;
}

.cte {
	text-align: center;
}

.etm {
	text-align: center;
	font-size: 30pt;
}

#epl {
	display: none;
}

.sma button {
	width: 30px;
	height: 30px;
	border: solid 3px gray;
}

.lte button[onclick] {
	display: none;
}

.tmd {
	font-size: 45pt!important;
	font-weight: 100;
}

.hel {
	font-size: 18pt!important;
}